<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>Contact me </li>
			<li>			
            {% if site.email%}
			<a href="mailto:{{ site.email }}"><i class="fa fa-envelope" aria-hidden="true"></i></a>
			{% endif %}

			{% if site.weibo_name %}
				<a href="http://www.weibo.com/{{ site.weibo_name }}"><i class="fa fa-weibo" aria-hidden="true"></i></a>
			{% endif %}
			{% if site.weichat_name %}
				<a href="/assets/wechat.jpg"><i class="fa fa-weixin" aria-hidden="true"></i></a>
			{% endif %}
			{% if site.github_username%}
			<a href="http://www.github.com/{{ site.github_username }}"><i class="fa fa-github" aria-hidden="true"></i></a>
			{% endif %}
			</li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
			<li><img src="/assets/wechat.jpg"></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.statement }}</p>
      </div>
    </div>

  </div>

</footer>
